body{
  text-align: center;
}
.game {
  display: inline-block;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 }

.tile {
  display: inline-block;
  border: solid black 1px;
  border-radius: 5%;
  padding: 0px;
  align-content: center;
  height: 100px;
  width: 100px;
}

