body{
  background-color: #fff3e6;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: xx-large;
}
.game {
  display: inline-block;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 }

.tile {
  background-color: #c1a1d3;
  display: inline-block;
  border: solid black 1px;
  border-radius: 5%;
  padding: 0px;
  align-content: center;
  height: 100px;
  width: 100px;
}


